div, form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom{
  flex-direction: row;
  width: 100%;
  position: relative;
}

.left, .right{
  width: 50%;
}

.left{
  align-self: flex-start;
  /* position: fixed; */
  height: max-content;
  padding: 1.5rem;
}